* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  width: 100%;
  height: 46px;
  background-color: #000;
}
.sub_menu {
  text-transform: uppercase;
  color: blue;
  float: left;
  padding: 13.5px 20px;
  transition: all 0.5s;
  list-style: none;
}
.sub_menu a {
  text-decoration: none;
  color: aliceblue;
}
.list-menu li {
  list-style: none;
}
.sub_menu:hover {
  background-color: #ccc;
}
.sub_menu a:hover {
  color: #000;
}
